<h1>Все пользователи</h1>
<table class="user-table">
  <thead>
  <tr>
    <th class="table-header">Имя пользователя</th>
    <th class="table-header">Дата регистрации</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr class="table-row">
      <td class="table-cell"><%= link_to user.username, user_path(user) %></td>
      <td class="table-cell"><%= user.created_at.strftime("%d-%m-%Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
