<h1>Все пользователи</h1>

<table>
  <thead>
  <tr>
    <th>Имя пользователя</th>
    <th>Дата регистрации</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.created_at.strftime("%d-%m-%Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
